<p-carousel [value]="allCars | async" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
    </ng-template>
    <ng-template let-car pTemplate="item">
        <div class="product-item text-light " pAnimate enterClass="flip" leaveClass="fadeoutleft">
            <div class="product-item-content">
                <div class="mb-3 mt-3 ms-2">
                    <img width="100%" src="https://hips.hearstapps.com/hmg-prod/amv-prod-cad-assets/images/03q4/267348/buick-rainier-v-8-cxl-photo-5787-s-original.jpg" class="product-image" />
                </div>
                <div>
                    <h4 class="mb-1">{{car.name}}</h4>
                    <h6 class="mt-0 mb-3">${{car.price}}</h6>
<!--                    <span [class]="'product-badge status-'+product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>-->
                    <div class="car-buttons mt-5">
                        <p-button type="button" styleClass="p-button p-button-rounded mr-2" icon="pi pi-search"></p-button>
                        <p-button type="button" styleClass="p-button-success p-button-rounded mr-2" icon="pi pi-star-fill"></p-button>
                        <p-button type="button" styleClass="p-button-help p-button-rounded" icon="pi pi-cog"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>


<!--Nội dung thứ 2-->
<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
    <div>
        <div class="font-bold text-4xl text-900 mb-5 text-center">Bài viết nổi bật</div>
        <div class="grid nogutter">
            <div class="col-12 lg:col-4 p-3">
                <div class="shadow-2 border-round h-full surface-card">
                    <img src="https://vnn-imgs-f.vgcloud.vn/2020/07/27/14/chiem-nguong-10-mau-xe-dep-nhat-thap-ki-qua.jpg" alt="Image" class="block w-full border-round-top">
                    <div class="p-4">
                        <span class="block font-medium text-blue-600 mb-3">Crime</span>
                        <div class="text-xl text-900 font-medium mb-3 line-height-3 ">Fugitive flamingo spotted in Florida</div>
                        <div class="text-sm line-height-3 mb-3 text-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                        <div class="flex">
                            <p-avatar image="https://image.tienphong.vn/600x315/Uploaded/2022/cvjntckxtiwdpcv/2019_12_23/top_10_mau_xe_dep_QAMN.jpg" shape="circle"></p-avatar>
                            <div class="ml-2">
                                <div class="text-xs font-bold text-900 mb-1">Anna Lane</div>
                                <div class="text-xs flex align-items-center text-700">
                                    <i class="pi pi-calendar mr-1 text-xs"></i>
                                    <span>Apr 5, 2021</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-4 p-3">
                <div class="shadow-2 border-round h-full surface-card">
                    <img src="https://image.tienphong.vn/600x315/Uploaded/2022/cvjntckxtiwdpcv/2019_12_23/top_10_mau_xe_dep_QAMN.jpg" alt="Image" class="block w-full border-round-top">
                    <div class="p-4 flex flex-column">
                        <span class="block font-medium text-blue-600 mb-3">Wildlife</span>
                        <div class="text-xl text-900 font-medium mb-3 line-height-3 ">Journey to the Ends of the Earth</div>
                        <div class="text-sm line-height-3 mb-3 text-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                        <div class="flex">
                            <p-avatar image="https://image.tienphong.vn/600x315/Uploaded/2022/cvjntckxtiwdpcv/2019_12_23/top_10_mau_xe_dep_QAMN.jpg" shape="circle"></p-avatar>
                            <div class="ml-2">
                                <div class="text-xs font-bold text-900 mb-1">Arlene McCoy</div>
                                <div class="text-xs flex align-items-center text-700">
                                    <i class="pi pi-calendar mr-1 text-xs"></i>
                                    <span>Apr 6, 2021</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-4 p-3">
                <div class="shadow-2 border-round h-full surface-card">
                    <img src="https://katavina.com/uploaded/tin-tuc/BMW-41-ty-USD-5.jpg" alt="Image" class="block w-full border-round-top">
                    <div class="p-4">
                        <span class="block font-medium text-blue-600 mb-3">Marie</span>
                        <div class="text-xl text-900 font-medium mb-3 line-height-3 ">'Real and imminent' extinction risk</div>
                        <div class="text-sm line-height-3 mb-3 text-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                        <div class="flex">
                            <p-avatar image="https://katavina.com/uploaded/tin-tuc/BMW-41-ty-USD-5.jpg" shape="circle"></p-avatar>
                            <div class="ml-2">
                                <div class="text-xs font-bold text-900 mb-1">Diane Miles</div>
                                <div class="text-xs flex align-items-center text-700">
                                    <i class="pi pi-calendar mr-1 text-xs"></i>
                                    <span>Apr 9, 2021</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

