
<div class="surface-overlay border-round p-4 shadow-4 relative w-full mb-2" style="max-width: 800px">
    <div class="grid justify-content-center">
        <div class="col-12 md:col-6 flex justify-content-center align-items-center mt-6 sm:mt-0">
            <p-image src="{{car.picture}}" alt="Image" width="250" [preview]="true"></p-image>
        </div>
        <div class="col-12 md:col-6 md:pl-5">
            <div class="flex justify-content-end">
                <button pButton class="p-button-text p-button-plain p-button-rounded absolute md:static" icon="pi pi-times pi-2xl" style="right:.5rem;top:.5rem"></button>
            </div>
            <div class="text-900 text-2xl font-medium mb-3">{{car.name}}</div>
            <div class="text-900 text-3xl font-bold mb-3">${{car.price | number}}</div>
            <p class="text-700 line-height-3 my-4 p-0">{{car.color}}</p>
            <div class="flex align-items-center mb-4">
                <button type="button" pButton pRipple label="Add to Cart" class="mr-3 py-2"></button>
                <button type="button" pButton pRipple icon="pi pi-heart" class="p-button-text"></button>
            </div>
            <div class="flex align-items-center mb-4">
                <img src="assets/images/blocks/avatars/circle/avatar-f-1.png" class="-mr-1 w-2rem h-2rem" />
                <img src="assets/images/blocks/avatars/circle/avatar-m-1.png" class="-mr-1 w-2rem h-2rem" />
                <img src="assets/images/blocks/avatars/circle/avatar-f-2.png" class="-mr-1 w-2rem h-2rem" />
                <img src="assets/images/blocks/avatars/circle/avatar-m-2.png" class="mr-3 w-2rem h-2rem" />
                <span class="text-600 text-sm font-medium">11 other people liked it</span>
            </div>
            <ul class="list-none p-0 m-0">
                <li class="flex align-items-center mb-2">
                    <i class="pi pi-check-circle text-green-500 mr-2"></i>
                    <span class="text-900 text-sm">Urna molestie at elementum eu facilisis.</span>
                </li>
                <li class="flex align-items-center mb-2">
                    <i class="pi pi-check-circle text-green-500 mr-2"></i>
                    <span class="text-900 text-sm">Ut tristique et egestas quis ipsum..</span>
                </li>
                <li class="flex align-items-center">
                    <i class="pi pi-check-circle text-green-500 mr-2"></i>
                    <span class="text-900 text-sm">Magna etiam tempor orci..</span>
                </li>
            </ul>
        </div>
    </div>
</div>
