
<!--<div class="bg-gray-900 surface-0 px-4 md:px-6 lg:px-8 border-1 surface-border border-x-none">-->
<!--    <div class="grid flex-wrap -mr-3 -ml-3 md:text-left">-->
<!--        <div class="col-12 sm:col-6 md:col-4 lg:col-3 flex flex-column mt-2 py-4 px-4 border-bottom-1 lg:border-y-none md:border-right-1 surface-border">-->
<!--            <span class="text-900 text-xl block">Company</span>-->
<!--            <ul class="list-none p-0">-->
<!--                <li><a tabindex="0" class="no-underline text-100 hover:text-blue-100 transition-duration-150 cursor-pointer mt-3 block">About Peak</a></li>-->
<!--                <li><a tabindex="0" class="no-underline text-100 hover:text-blue-100 transition-duration-150 cursor-pointer mt-3 block">Factories</a></li>-->
<!--                <li><a tabindex="0" class="no-underline text-100 hover:text-blue-100 transition-duration-150 cursor-pointer mt-3 block">Careers</a></li>-->
<!--                <li><a tabindex="0" class="no-underline text-100 hover:text-blue-100 transition-duration-150 cursor-pointer mt-3 block">Environmental Initiatives</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div class="col-12 sm:col-6 md:col-4 lg:col-3 flex flex-column mt-2 py-4 px-4 border-bottom-1 lg:border-y-none md:border-right-1 surface-border">-->
<!--            <span class="text-900 text-xl block">Account</span>-->
<!--            <ul class="list-none p-0">-->
<!--                <li><a tabindex="0" class="no-underline text-100 hover:text-blue-100 transition-duration-150 cursor-pointer mt-3 block">Manage Account</a></li>-->
<!--                <li><a tabindex="0" class="no-underline text-100 hover:text-blue-100 transition-duration-150 cursor-pointer mt-3 block">Saved Items</a></li>-->
<!--                <li><a tabindex="0" class="no-underline text-100 hover:text-blue-100 transition-duration-150 cursor-pointer mt-3 block">My Cart</a></li>-->
<!--                <li><a tabindex="0" class="no-underline text-100 hover:text-blue-100 transition-duration-150 cursor-pointer mt-3 block">Wishlist</a></li>-->
<!--                <li><a tabindex="0" class="no-underline text-100 hover:text-blue-100 transition-duration-150 cursor-pointer mt-3 block">Orders & Returns</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div class="col-12 sm:col-6 md:col-4 lg:col-3 flex flex-column mt-2 py-4 px-4 border-bottom-1 lg:border-y-none lg:border-right-1 surface-border">-->
<!--            <span class="text-900 text-xl block">Legal</span>-->
<!--            <ul class="list-none p-0">-->
<!--                <li><a tabindex="0" class="no-underline text-100 hover:text-blue-100 transition-duration-150 cursor-pointer mt-3 block">Investor Relations</a></li>-->
<!--                <li><a tabindex="0" class="no-underline text-100 hover:text-blue-100 transition-duration-150 cursor-pointer mt-3 block">Data Privacy</a></li>-->
<!--                <li><a tabindex="0" class="no-underline text-100 hover:text-blue-100 transition-duration-150 cursor-pointer mt-3 block">Terms of Service</a></li>-->
<!--                <li><a tabindex="0" class="no-underline text-100 hover:text-blue-100 transition-duration-150 cursor-pointer mt-3 block">Legal Information</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div class="col-12 sm:col-6 md:col-4 lg:col-3 flex flex-column mt-2 py-4 px-4 mb-4 lg:mb-0">-->
<!--            <span class="text-900 text-xl block">Subscribe</span>-->
<!--            <span class="text-500 block mt-4 line-height-3">Join our community to receieve the latest updates and special promotions.</span>-->
<!--            <div class="p-inputgroup mt-3 mx-auto lg:mx-0" style="max-width:30rem;">-->
<!--                <button type="button" pButton icon="pi pi-envelope" class="text-500 surface-100 surface-border">-->
<!--                </button>-->
<!--                <input type="text" pInputText placeholder="Email" class="border-y-1 text-500 border-x-none surface-border">-->
<!--                <button type="button" pButton icon="pi pi-arrow-right" class="text-500 surface-100 surface-border">-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--lựa chọn thứ 2-->
<div class="surface-0 ">
    <div class="grid grid-nogutter">
        <div class="col-12 md:col-6 bg-no-repeat bg-cover p-8" style="background-image: url('https://cungcapbando.com/wp-content/uploads/2018/02/du-bao-thoi-tiet-tren-ban-do-ve-tinh.jpg')" >
            <div class="text-light text-2xl font-medium mb-6">Liên hệ với chúng tôi</div>
            <div class="text-gray-300 line-height-3 mb-6">Bạn đang có xe cũ cần bán. Sử dụng dịch vụ bán xe nhanh của chúng tôi để có thể thanh khoản chiếc xe nhanh nhất! </div>
            <a class="inline-flex align-items-center text-blue-300 font-bold no-underline cursor-pointer">
                <span class="mr-3">Hiển thị vị trí trên bản đồ</span>
                <i class="pi pi-arrow-right"></i>
            </a>
            <ul class="list-none p-0 m-0 mt-6 text-white">
                <li class="flex align-items-center mb-3">
                    <i class="pi pi-phone mr-2"></i>
                    <span>0935762014</span>
                </li>
                <li class="flex align-items-center mb-3">
                    <i class="pi pi-facebook mr-2"></i>
                    <span>https://www.facebook.com/habaoan</span>
                </li>
                <li class="flex align-items-center">
                    <i class="pi pi-inbox mr-2"></i>
                    <span>baoandlk93@gmail.com</span>
                </li>
            </ul>
        </div>
        <div class="col-12 md:col-6">
            <div class="p-fluid formgrid grid px-4 py-8 md:px-6 lg:px-8">
                <div class="field col-12 lg:col-6 p-float-label mb-4">
                    <input id="firstname" type="text" class="py-3 px-2 text-lg" pInputText placeholder="Họ">
                </div>
                <div class="field col-12 lg:col-6 p-float-label mb-4">
                    <input id="lastname" type="text"  class="py-3 px-2 text-lg" pInputText placeholder="Tên">
                </div>
                <div class="field col-12 mb-4">
                    <input id="email" type="text" pInputText class="py-3 px-2 text-lg" placeholder="Email">
                </div>
                <div class="field col-12 mb-4">
                    <input id="email" type="text" pInputText class="py-3 px-2 text-lg" placeholder="Số ĐT">
                </div>
                <div class="field col-12 mb-4">
                    <textarea id="message" pInputTextarea rows="3" [autoResize]="true" class="py-3 px-2 text-lg" placeholder="Lời nhắn"></textarea>
                </div>
                <div class="col-12 text-right">
                    <button type="button" pButton pRipple label="Gửi" icon="pi pi-envelope" class="px-5 py-3 w-auto"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-gray-900 px-4 py-8 md:px-6 lg:px-8">
    <div class="bg-gray-900">
        <div class="grid">
            <div class="col-12 md:col-3 flex flex-wrap justify-content-start md:mb-0 mb-3">
                <img src="assets/image/blocks/logos/bootstrap4-light-purple.svg" alt="footer sections" width="50" height="50" class="mr-3">
                <div class="text-gray-300 font-bold text-5xl">BMT-CAR</div>
            </div>
            <div class="col-12 md:col-3">
                <div class="text-white text-lg mb-4 flex flex-wrap" style="max-width: 290px">280 Trần Hưng Đạo, phường An Hải Tây, quận Sơn Trà, thành phố Đà Nẵng</div>
                <div class="text-white mb-3"><i class="pi pi-phone surface-800 border-round p-1 mr-2"></i>(+84) 935 76 2014</div>
                <div class="text-white mb-3"><i class="pi pi-inbox surface-800 border-round p-1 mr-2"></i>baoandlk93@gmail.com</div>
            </div>
            <div class="col-12 md:col-3 text-gray-200">
                <div class="text-white font-bold line-height-3 mb-3">Hỗ trợ khách hàng</div>
                <a class="line-height-3 block cursor-pointer mb-2">Tôi là người Bán</a>
                <a class="line-height-3 block cursor-pointer mb-2">Tôi là người Mua</a>
                <a class="line-height-3 block cursor-pointer mb-2">Quy định cần biết</a>
                <a class="line-height-3 block cursor-pointer mb-2">Liên hệ hỗ trợ</a>
                <a class="line-height-3 block cursor-pointer">Câu hỏi thường gặp</a>
            </div>
            <div class="col-12 md:col-3 text-gray-200">
                <div class="text-white font-bold line-height-3 mb-3">Tin tức & Tư vấn</div>
                <a class="line-height-3 block cursor-pointer mb-2">Tin công nghệ</a>
                <a class="line-height-3 block cursor-pointer mb-2">Bảng giá xe ô tô</a>
                <a class="line-height-3 block cursor-pointer">Tin khuyến mại</a>
            </div>
        </div>
    </div>
</div>
<div class="surface-section px-3 py-4 lg:px-8 flex flex-column lg:flex-row justify-content-between align-items-center">
    <div class="col-fixed flex flex-wrap flex-order-1 lg:flex-order-0">
        <img src="assets/image/blocks/icons8-apple-pay-480.svg" class="w-3rem mr-3" alt="Apple Pay">
        <img src="assets/image/blocks/icons8-mastercard-logo-480.svg" class="w-3rem mr-3" alt="Mastercard">
        <img src="assets/image/blocks/icons8-visa-480.svg" class="w-3rem mr-3" alt="Visa">
        <img src="assets/image/blocks/icons8-paypal.svg" class="w-3rem" alt="PayPal">
    </div>
    <div class="col-fixed flex align-items-center flex-order-0 lg:flex-order-1">
        <a tabindex="0" class="cursor-pointer mr-3">
            <i class="pi pi-facebook surface-900 p-1 text-sm border-circle text-0"></i>
        </a>
        <a tabindex="0" class="cursor-pointer mr-3">
            <i class="pi pi-twitter surface-900 p-1 text-sm border-circle text-0"></i>
        </a>
        <a tabindex="0" class="cursor-pointer mr-3">
            <i class="pi pi-youtube surface-900 p-1 text-sm border-circle text-0"></i>
        </a>
        <a tabindex="0" class="cursor-pointer">
            <i class="pi pi-google surface-900 p-1 text-sm border-circle text-0"></i>
        </a>
    </div>
</div>
<p-scrollTop [threshold]="400"></p-scrollTop>
